<form class="{{cssClass}}" autocomplete="off">

    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" />

    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

    <p>
        <!---vie-->
        <p class="Vie">
            <label>Santé
        <input name="data.pvactuel" type="text" value="{{data.pvactuel}}"/>
        <input name="data.pvmax" type="text" value="{{data.pvmax}}"/>
    </label>
        </p>
        <!--background-->

        <P class="background">
            <label>concept
            <textarea name="data.concept">{{data.concept}}</textarea>
        </label>

            <label>background
            <textarea name="data.background">{{data.background}}</textarea>
        </label>

            <label>description
            <textarea name="data.description">{{data.description}}</textarea>
        </label>

            <label>notes
            <textarea name="data.notes">{{data.notes}}</textarea>
        </label>
        </P>
    </p>

    <!-- attribut et competence -->

    {{#each data.attributs as |attribut attnom|}}
    <div class="attributs">
        <label>{{attnom}}</label>
        <input name="data.attributs.{{attnom}}.valeur" type="text" value="{{attribut.valeur}}" placeholder="" />
        <a class="jetdeatt" data-diceatt="{{attribut.valeur}}" data-name={{attnom}}><i class="fas fa-dice"></i></a>
        <ul>
            {{#each attribut.competence as |competences cmpnom|}}
            <li class="competence">
                <input name="data.attributs.{{attnom}}.competence.{{cmpnom}}.valeur" type="text" value="{{competences.valeur}}" placeholder="" />
                <a class="jetdecmp" data-diceatt="{{attribut.valeur}}" data-name="{{competences.valeur}}"><i class="fas fa-dice"></i></a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/each}}


    <!-- arme -->

    <table class="tableau">
        <caption>Arme</caption>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Dégâts</th>
            <th>effets</th>
            <th></th>
        </tr>
        {{#each actor.items as |item key|}}
        <tr class="item" data-item-id="{{item._id}}">
            <td><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="32" width="32" /></td>
            <td>{{item.name}}</td>
            <td>{{item.data.degats}}</td>
            <td>{{item.data.effets}}</td>
            <td>
                <a class="jetdedeg" data-dicedeg="{{item.data.degats}}" data-name="{{item.name}}" data-effets={{item.data.effets}}><i class="fas fa-dice"></i></a>
                <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {{/each}}
    </table>


</form>